:root {
  --animation-duration: 300ms;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --animation-duration: 0ms;
  }
}


.flex {
  display: flex;
  gap: 8px;

  &-column {
    flex-direction: column;
  }
}

